.cabecalho{
    background-image: url("imagens/logo.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 369px;
    height: 546px;
    margin-top: 0;
    margin-right: auto;
    margin-left: center;
    margin-bottom: 0;
    text-align: center;
}
.cabecalhopagina{
    background-image: url("imagens/banner.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 369px;
    height: 191px;
    margin-top: 0;
    margin-right: auto;
    margin-left: center;
    margin-bottom: 0;
    text-align: center;
}
body{
    margin: 0;
    background-image: url("imagens/fundomenu.png");
}
.corpobotoes{
    text-align: center;
    width: 369px;
}
.rodape{
    text-align: center;
    width: 369px;   
}
.titulo{
    text-align: center;
    margin: 0;
    font-size: 20px;

}
.videos{
    text-align: center;
    width: 369px; 
}